@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif, ;
}

body {
    font-family: 'Roboto';
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E5E5;
}


.info-contato {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 0px;
    margin: 130px 0;
    width: 333px;
    height: 32px;

}
.icon-voltar {
    cursor: pointer;
}

.forma {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
    position: absolute;
    width: 360px;
    height: 50px;
    left: 0px;
    top: 68px;
    background: #F2F2F2;
}

.info-contato h1 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    align-items: left;
    color: #FA9401;
    margin: 0 1px;
}

.info-contato p {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #5B5A5A;
    margin: 10px 8px;
    display: flex;
    align-items: center;
}

.info-contato img {
    margin: 8px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
    isolation: isolate;

    position: absolute;
    width: 360px;
    height: 64px;
    left: 0px;
    top: 0px;
    background: #444242;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}

.header #logo {
    position: absolute;
    width: 122px;
    height: 38.01px;
    left: calc(50% - 122px/2);
    top: 12.99px;
    cursor: pointer;
}

.header #carrinho {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1px;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0px;
    top: 6px;
    display: flex;
}

#carrinho, #qtd-icon {
    margin: 0 270px;
    margin-top: 16px;
    top: 11px;
}

#qtd-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;

    position: absolute;
    width: 16px;
    height: 16px;
    left: 16px;
    top: 0px;
    background: #FA9401;
    border-radius: 20px;
}


.container {
    position: relative;
    width: 360px;
    height: 640px;
    background: #FFFFFF;
}

.logo-img {
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 240.52px;
    height: 75px;
    left: 40px;
    top: 107px
}

.logo {
    cursor: pointer;
}

.menu-button {
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 300px;
    padding: 0px;
    display: flex;
    width: 26px;
    height: 20px;
    cursor: pointer;
}


.btn-contato button {
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 8px 0px;
    padding: 0px;
    cursor: pointer;
    width: 265px;
    height: 50px;

    background: #444242;
    border-radius: 50px;
    border: 1px solid #FA9401;

    flex: none;
    order: 0;
    flex-grow: 0
}

.social {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 33px;

    position: absolute;
    width: 302px;
    height: 34px;
    left: 29px;
    top: 379px;
}

.fale-conosco {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 0px;
    gap: 10px;

    position: absolute;
    width: 360px;
    height: 50px;
    left: 0px;
    bottom: 0px;

    /* cor-primaria/cor-primaria */
    border: none;
    color: #FFFFFF;
    background: #FA9401;
}